<div class="cover-index">
  <div class="row mt-5">
    <div class="container d-flex flex-column align-items-center">
      <h1 class="font-weight-normal">投稿一覧</h1>
    </div>
  </div>
  <div class="container">
    <div class="side">
      <div class="userinfo">
        <h1>User info</h1>
      </div>
      <div class="d-flex w-100">
        <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.svg", class: "mb-3 profile-img" %>
      </div>
      <div><h3><%= link_to current_user.name, user_path(current_user.id), class: "text-dark nav-link" %></h3></div>
      <%= link_to follows_user_path(@user), class: "text-dark nav-link" do %>
        <h6>フォロー<%= @following_users.count %></h6>
      <% end %>
      <%= link_to followers_user_path(@user), class: "text-dark nav-link" do %>
        <h6>フォロワー<%= @follower_users.count %></h6>
      <% end %>
      <div><%= link_to "投稿する", new_post_path, class: "btn btn-dark" %></div>
    </div>
    <div class="body">
      <div class="container d-flex flex-column align-items-center">
        <%= render 'index', posts: @posts %>
      </div>
    </div>
  </div>
</div>