<div class="cover-show">
  <div class="container d-flex flex-column align-items-center">
    <div class="show-title row mt-5">
      <h1 class="font-weight-normal">投稿詳細</h1>
    </div>
    <% if @comment.errors.any? %>
      <div class="card text-center card text-white bg-danger mt-3">
        <%= @comment.errors.count %>件のエラーが発生しました
        <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="container d-flex">
      <div class="d-block">
        <p class="caption"><%= @post.user.name %></p>
        <div class="show-post-img">
          <%= attachment_image_tag @post, :image, format: 'jpeg', size: "450x350" %><br>
        </div>
        <div class="box1">
          <p class="caption"><%= @post.location %>
            <% if @post.favorited_by?(current_user) %>
              <%= link_to post_favorites_path(@post), data: { turbo_method: :delete }, class: "favorite_btn" do %>
                ♥<%= @post.favorites.count %> いいね
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(@post), data: { turbo_method: :post }, class: "favorite_btn" do %>
                ♡<%= @post.favorites.count %> いいね
              <% end %>
            <% end %>
            &nbsp;閲覧数: <%= @post.view_counts.count %><br>
          </p>
        </div>
        <div class="box2">
          <span class="box-title">感想</span>
          <p id="text"><%= @post.text %></p>
        </div>
       
        <div id="showmap" class="map"></div>
          
        <script>
            function initMap() {
              // 緯度・経度を取得
              const latitude = <%= @post.latitude || 0 %>;
              const longitude = <%= @post.longitude || 0 %>;

              // 緯度・経度が存在しない場合はエラーメッセージを表示
              if (latitude === 0 && longitude === 0) {
                console.error("位置情報がありません");
                return;
              }

              const postLocation = { lat: latitude, lng: longitude };

              // マップの初期化
              const map = new google.maps.Map(document.getElementById("showmap"), {
                center: postLocation,
                zoom: 15,
              });

              // マーカーを配置
              new google.maps.Marker({
                position: postLocation,
                map: map,
                title: "投稿の位置",
              });

              google.maps.event.trigger(map, "resize");
            }
        </script>


        <% if @post.user == current_user %>
          <div class="show-btn">
            <%= link_to '編集する', edit_post_path(@post.id), class: "btn btn-dark mr-3" %>
            <%= link_to '削除する', post_path(@post.id),  data: { turbo_method: :delete, turbo_confirm:  "本当に消しますか？"}, class: "btn btn-danger" %><br>
          </div>
        <% end %>
        <div class="show-btn-postindex">
          <%= link_to '投稿一覧ページへ', posts_path, class: "btn btn-dark mt-3 mb-3" %>
        </div>
      </div>
      <div class="show-mobile">
        <div class="comments">
          <%= form_with(model:[@post, @comment], local: true) do |f| %>
          <%= f.text_area :comment, :size=>"60x3",placeholder: "コメントする" %>
          <%= f.submit "送信する", class: "btn btn-dark mb-4" %>
          <% end %>

          <p>コメント件数:<%= @comments.count %></p>
            <% @comments.each do |comment| %>
              <div class="comments-index mb-2">
                <%= comment.user.name %>
                <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %><br>
                <p><%= comment.comment %></p>
              </div>
            <% if comment.user == current_user %>
              <div class="d-flex justify-content-end">
                <%= link_to "↑削除する", post_comment_path(comment.post, comment), data: { turbo_method: :delete }, class: "btn btn-danger btn-sm mb-2"%>
              </div>
            <% end %>
            <% end %>
          <%= paginate @comments %>
        </div>
      </div>  
    </div>
  </div>
</div>