<!DOCTYPE html>
<html>
  <head>
    <title>tabiran</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    
   
  </head>

  <body>
    <% if user_signed_in? %>
      <header class="header">
        <div><%= link_to root_path, class: "nav-link" do %>tabiran<% end %></div>        
        <button class="hamburger-menu" id="js-hamburger-menu">
          <span class="hamburger-bar"></span>
          <span class="hamburger-bar"></span>
          <span class="hamburger-bar"></span>
        </button>
        <nav class="navigation">
          <div><%= link_to "トップ", root_path, class: "nav-link" %></div>
          <div><%= link_to "投稿する", new_post_path, class: "nav-link" %></div>
          <div><%= link_to "投稿一覧", posts_path, class: "nav-link" %></div>
          <div><%= link_to "下書き一覧", confirm_posts_path, class: "nav-link" %></div>
          <div><%= link_to "ユーザ一覧", users_path, class: "nav-link" %></div>
          <div><%= link_to "マイページ", user_path(current_user.id), class: "nav-link" %></div>
          <div><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %></div>
        </nav>
      </header>
    <% end %>
    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>

  </body>
</html>